* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter var";
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

body {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 0px 0 0 0;
  background-size: 100%;
}

/*header*/

.header {
  position: fixed;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100px;
  width: auto;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.logoleft {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  height: 10px;
}

.logo {
  width: 55px;
  height: 55px;
  margin-left: 52px;
  margin-right: 30px;
}

.list {
  list-style: none;
  display: flex;
}

.list-item > a {
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 400;
  color: gray;
  font-size: 20 px;
  margin: 16px 26px;
}

.search {
  width: 291px;
  height: 43px;
  margin-right: 300px;
}

.menu {
  width: 27px;
  height: 20.4px;
  margin-left: 40px;
  margin-right: 40px;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.circle {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 130px;
}

.club_content {
  display: flex;
  justify-content: space-between;
}

.club_left {
  box-sizing: border-box;
  height: 334px;
  width: 331px;
  margin-left: 104px;
  margin-right: 112px;
}

.left_hr {
  margin-bottom: 23px;
  margin-top: 40px;
  margin-left: 0px;
  width: 322px;
  height: 0px;
  border: 1px solid #000000;
}

.img_right {
  margin-right: 30px;
  height: 488px;
  width: 703px;
}

h2 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 8px;
}

h3 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 27px;
}

p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

hr {
  margin: 100px 30px;

  border-top: 1.5px solid #000000;
}

.three_content {
  display: flex;
  justify-content: space-between;
  margin: auto 130px;
}

.one {
  box-sizing: border-box;
  height: 562px;
  width: 290px;
  font-family: "Inter";
  font-weight: 400px;
}

.img3 {
  margin-bottom: 30px;
}

.one > h3 {
  font-weight: 400;
  font-family: "Inter";
  margin-bottom: 30px;
  font-size: 24px;
}

.one > p {
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-bottom: 53px;
  font-size: 16px;
}

.divider {
  box-sizing: border-box;
  border-right: 1.5px solid #000000;
  margin-right: 10px;
}

.title {
  display: flex;
  margin-bottom: 30px;
}

.news {
  margin-left: 100px;
  margin-top: 80px;
  margin-right: 110px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.news_left {
  line-height: 35px;
}

.news_right {
  height: 454px;
  width: 797px;
}

.n1 {
  display: flex;
  margin-bottom: 75px;
}

.news_h3 {
  box-sizing: border-box;
  width: 197px;
  margin-right: 35px;
  font-family: "Inter var", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.n1p {
  box-sizing: border-box;
  width: 545px;
  font-family: "Inter var", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: gray;
}

.divider_long {
  box-sizing: border-box;
  height: 446px;
  border-right: 1.5px solid #000000;
  margin-left: 47px;
  margin-right: 34px;
}

footer {
  width: auto;
  height: 207px;
  background: rgba(0, 0, 0, 0.6);
}

.footlist {
  padding-top: 75px;
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 369px;
  margin-right: 362px;
  justify-content: space-between;
}

.footlist-item > a {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c2c2c2;
}

.down {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  margin-left: 34px;
  margin-right: 41px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c2c2c2;
}

.arrow-down {
  position: absolute;
  width: 58px;
  height: 58px;
  left: 1300px;
  top: 2750px;
}

.view {
  margin-left: 80px;
}
